@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
:root{
    --red:hsl(7,99%,70%);
    --yellow:hsl(51, 100%, 49%);
    --cyan:hsl(167, 40%, 24%);
    --dark-blue:hsl(198, 62%, 26%);
    --footer-clr:hsl(168, 34%, 41%);
    --ntrl-vdBlue:hsl(212, 27%, 19%);
    --ntrl-vgBlue: hsl(213, 9%, 39%);
    --ntrl-dgBlue:hsl(232, 10%, 55%);
    --ntrl-gBlue:hsl(210, 4%, 67%);
}
/* *General*/
html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-family: "Barlow",serif;
}
h3{
    font-family: "Fraunces", serif;
    font-size: 1.8rem;
}
a{
    font-family: "Fraunces", serif;
    color: black;
}
.mobileM ,.dark{
    display: none;
}
/* *HEADER */
header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color:#3cc4fc;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
header img{
    max-width: 100%;
    padding: 0rem 4rem 0rem 0rem;
}
header ul {
    display: inline;
}
header ul a{
    color: white;
    text-decoration: none;
    transition: .3s;
}
header ul a:hover{
    color: black;
}
ul button{
    background-color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 32px;
    border: solid 0px;
    font-family: "Fraunces", serif;
    text-transform: uppercase;
    transition: .3s;
}
ul button:hover{
    color: #fff;
    background-color: black;
}
.open{
    display: none;
}
/* *MAIN */
main .title{
    z-index: 1;
    position: absolute;
    top: 10rem;
    left: 33%;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .33rem;
    color: white;
}
main .arrow{
    z-index: 1;
    position: absolute;
    top: 22rem;
    left: 50%;
}
main img{
    max-width: 100%;
    vertical-align: middle;
}
/* *WRAPPER 2 by 3*/
.wrapper{/* !not responsive*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.wrapper p{
    line-height: 1.6;
}
.wrap1{
    grid-area: 1/1/1/1 ;
    justify-self: center;
    align-self: center;
    padding: 5rem;
}
.wrap2 img{
    grid-area:1/2/1/2 ;
    vertical-align: middle;
}
.wrap3 img{
    grid-area:2/1/2/1 ;
    vertical-align: middle;
}
.wrap4{
    grid-area:2/2/2/2 ;
    justify-self: center;
    align-self: center;
    padding: 5rem;
}
.wrap5{
    position: relative;
    grid-area: 3/1/3/1;
    display: flex;
}
.wrap5 img{
    vertical-align: middle;
}
.wrap5 .txt{
    position: absolute;
    left: 25%;
    right: 25%;
    padding-bottom: 4rem;
    text-align: center;
    align-self: flex-end;
}
.wrap6{
    position: relative;
    grid-area:3/2/3/2 ;
    display: flex;
}
.wrap6 img{
    vertical-align: middle;
}
.wrap6 .txt{
    position: absolute;
    left: 25%;
    right: 25%;
    padding-bottom: 4rem;
    text-align: center;
    align-self: flex-end;
}
/* *SECTION Testimonials*/
.CT{
    text-align: center;
    padding: 0rem 1rem;
}
.testimonial{
    display: flex;
    gap: 20px;
    padding: 3rem;
}
.testimonial img{
    max-width: 5rem;
    border-radius: 50%;
    margin: 0 40%;
}
.testimonial p, .testimonial footer{
    text-align: center;
}
.testimonial footer{
    font-size: .8rem;
    color: var(--ntrl-dgBlue);
}
/* *SECTION IMG-ROW*/
.img-row{
    display: flex;
    object-fit: contain;
}
.img-row img{
    max-width: 25vw;
    height: auto;
    vertical-align: middle;
}
/* *FOOTER*/
.last { 
    background: var(--footer-clr);
    text-align: center;
    height: 130px;
    padding: 2rem 1rem;
    font-size: 11px; 
    text-align: center; 
    display: flex;
    flex-direction: column;
}
.last img{
    padding: .5rem;
    max-width: 140px;
    align-self: center;
}
.last nav{
    padding: 1rem;
    max-width: 250px;
    word-spacing: 30px;
    align-self: center;
}
.last a{
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
}
.last .attribution{
    padding: 1rem;
    color: #fff;
}
/* *Mobile */
@media (max-width : 768px){
    /* *General */
    .dark{
        position: absolute;
        z-index: 2;
        height: 100%;
        width: 100vw;
        background-color: black;
        opacity: .8;
        mix-blend-mode:darken;
        display: none;
    }
    img{
        max-width: 100%;
    }
    header nav{
        display: none;
    }
    .mobileM nav, .mobileM img{
        opacity: 0;
    }
    .mobileM img{
        padding: 1rem;
        max-width: 40px;
        max-height: 40px;
    }
    .mobileM nav{
        margin-left: 1rem;
        font-size: 1.7rem;
    }
    .mobileM a{
        text-decoration: none;
    }
    .mobileM{
        background-color:#3cc4fc;
        display: block;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
        transition: .3s;
    }
    .open{
        display: inline;
        width: 40px;
        background-color: transparent;
        border: solid 0px;
    }
    /* *MAIN */
    main .title{
        left: 10%;
        right: 10%;
        scale: .9;
        text-align: center;
    }
    /* *Wrap */
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .wrap1,.wrap4{
        padding: 6rem 2.5rem;
        text-align: center;
    }
    .wrap5 .txt{
        position: absolute;
        left: 25%;
        right: 25%;
        max-width: 400px;
    }
    .wrap6 .txt{
        position: absolute;
        left:  25%;
        right: 25%;
        max-width: 400px;
    }
    /* *Testimonials */
    .testimonial{
        flex-direction: column;
    }
    .img-row{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        max-width: 768px;
    }
    .img-row img{
        max-width: 100%;
    }
}